body {
    margin: 0;
}

.u-btn {
    display: table;
    cursor: pointer;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    font-style: initial;
    white-space: nowrap;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 15px;
    --border-radius: 0;
    align-self: flex-start;
}

.u-font-montserrat.u-custom-font {
    font-family: Montserrat, sans-serif !important;
}

.u-sheet {
    position: relative;
    margin: 0 auto;
}

.u-table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

[class*="u-border-"],
.u-input {
    border-style: solid;
}

.u-white {
    color: #111111;
    background-color: #ffffff;
}

.u-body {
    font-family: 'Open Sans',sans-serif;
}

.u-body {
    font-size: 1rem;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto,sans-serif;
}

.u-table th,
.u-table td {
    padding: 10px;
    font-weight: inherit;
    position: inherit;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.u-button-style[class*="u-border-"].u-border-no-top,
[class*="u-border-"].u-border-no-top {
    border-top-width: 0;
    border-top-style: none;
}

.u-button-style[class*="u-border-"].u-border-no-right,
[class*="u-border-"].u-border-no-right {
    border-right-width: 0;
    border-right-style: none;
}

.u-button-style[class*="u-border-"].u-border-no-bottom,
[class*="u-border-"].u-border-no-bottom {
    border-bottom-width: 0;
    border-bottom-style: none;
}

.u-button-style[class*="u-border-"].u-border-no-left,
[class*="u-border-"].u-border-no-left {
    border-left-width: 0;
    border-left-style: none;
}

.u-button-style.u-custom-color-14[class*="u-border-"] {
    color: #ffffff !important;
    background-color: rgba(177,79,9,0.56) !important;
}


.u-border-custom-color-15 {
    border-color: #ba6d06;
    stroke: #ba6d06;
}

a.u-button-style.u-text-custom-color-17[class*="u-border-"] {
    color: #431c00 !important;
}

.u-custom-color-18 {
    color: #111111;
    background-color: #fcb813;
}

p:not(.u-text-variant) {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.6;
    list-icon-spacing: 0.3;
    list-icon-size: 0.8;
    font-family: Ubuntu,sans-serif;
}


.u-body {
    --theme-sheet-width-xl: 1140px;
    --theme-sheet-width-lg: 940px;
    --theme-sheet-width-md: 720px;
    --theme-sheet-width-sm: 540px;
    --theme-sheet-width-xs: 340px;
}


.u-image {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@media (min-width: 1200px) {
    .u-xl-mode .u-sheet {
        width: var(--theme-sheet-width-xl) !important;
    }
}

@media (min-width: 1200px) {
    .u-xl-mode .u-align-center-xl {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .u-xl-mode .u-expanded-height-xl {
        position: absolute !important;
        height: 100% !important;
    }
}

.u-align-center {
    text-align: center;
}



.u-section-1 .u-sheet-1 {
  min-height: 990px;
}

.u-section-1 .u-group-1 {
  width: 900px;
  min-height: 746px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-1 .u-group-2 {
    width: 900px;
    min-height: 565px;
    height: auto;
    margin: 30px auto 0;
}


.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 9px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 237px;
  padding: 6px 30px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -34px 0 0 auto;
  padding: 6px 30px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -34px 259px 0 auto;
  padding: 6px 30px;
}

.u-section-1 .u-btn-4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 30px auto 0;
    padding: 6px 30px;
}

.u-section-1 .u-text-3 {
    font-weight: 400;
    margin: 30px 0 0;
    color: #888282;
}

.u-section-1 .u-image-1 {
  width: 90px;
  height: 90px;
  margin: -746px -29px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 90px;
  height: 90px;
  margin: 35px -29px 60px auto;
}

.u-section-1 .u-image-3 {
    width: 90px;
    height: 90px;
    margin: -565px -29px 0 auto;
}

.u-section-1 .u-image-4 {
    width: 90px;
    height: 90px;
    margin: 35px -29px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 41px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 57px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 79px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 47px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 112px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -44px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 20px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 107px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 85px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -17px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 33px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 35px;
  }
}

td{
  border-color: #ba6d06;
  stroke: #ba6d06;
  border-style: solid;
  height: 54px;
}

.u-input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  background-clip: padding-box;
  border-width: 0;
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  height: auto;
  display: inline;
}