body {
    margin: 0;
}

.u-font-montserrat.u-custom-font {
    font-family: Montserrat, sans-serif !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.u-body {
    font-family: 'Open Sans',sans-serif;
}

.u-body {
    --theme-sheet-width-xl: 1140px;
    --theme-sheet-width-lg: 940px;
    --theme-sheet-width-md: 720px;
    --theme-sheet-width-sm: 540px;
    --theme-sheet-width-xs: 340px;
}

.u-custom-color-14 {
    color: #ffffff;
    background-color: rgba(177,79,9,0.56);
}

.u-custom-color-15,
.u-body.u-custom-color-15 {
    color: #ffffff;
    background-color: #f6921e;
}

.u-border-custom-color-16 {
    border-color: #ffde4f;
    stroke: #ffde4f;
}

.u-text-custom-color-17 {
    color: #431c00 !important;
}

.u-border-custom-color-17 {
    border-color: #431c00;
    stroke: #431c00;
}

.u-button-style.u-border-none {
    border-color: transparent !important;
    border-width: 0;
}

.u-border-3,
.u-text.u-border-3,
.u-input.u-border-3 {
    border-width: 3px;
}

[class*="u-border-"],
.u-input,
.u-field-input,
.u-link[class*="u-border-"] {
    border-style: solid;
}

.u-border-5,
.u-text.u-border-5,
.u-input.u-border-5{
    border-width: 5px;
    border-radius: 70px;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

@media (min-width: 1200px) {
    .u-xl-mode .u-sheet {
        width: var(--theme-sheet-width-xl) !important;
    }
}

.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
    display: flex;
    flex-direction: column;
}

.u-align-center {
    text-align: center;
}

.u-body {
    font-size: 1rem;
    line-height: 1.6;
}

.u-sheet {
    position: relative;
    margin: 0 auto;
}

.u-btn {
    margin: 0;
    -webkit-text-decoration-skip: objects;
    font-style: initial;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 25px;
    align-self: flex-start;
}

.u-input {
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-clip: padding-box;
    border-width: 0;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    height: auto;
}

.u-btn-submit,
.u-btn-step {
    display: inline-block;
}

.u-form-vertical.u-form-spacing-10,
.u-form-vertical.u-form-spacing-10 .u-form-step {
  margin-left: -10px;
  width: calc(100% +  10px);
}

.u-form-vertical.u-form-spacing-10 .u-form-group,
.u-form-vertical.u-form-spacing-10 .u-form-step .u-form-group {
  margin-bottom: 10px;
}

.u-form-vertical.u-form-spacing-10 .u-form-group:not(.u-image):not(.u-form-progress),
.u-form-vertical.u-form-spacing-10 .u-form-step .u-form-group:not(.u-image):not(.u-form-progress) {
  padding-left: 10px;
}

.u-form-vertical.u-form-spacing-10 .u-form-group.u-form-line,
.u-form-vertical.u-form-spacing-10 .u-form-step .u-form-group.u-form-line {
  margin-left: 10px;
}

.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-input,
.u-gradient > .u-container-layout > .u-input,
.u-image:not(.u-shading) > .u-container-layout > .u-input,
.u-input {
    border-color: #431C00;
    background-color: #ffffff;
    color: #000000;
}

.u-section-1 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-1 .u-group-1 {
  width: 411px;
  min-height: 550px;
  height: auto;
  margin: 127px auto 60px 345px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 191px;
  width: 341px;
  margin: 13px auto 0;
}

.u-section-1 .u-input-1 {
  height: 45px;
}

.u-section-1 .u-input-2 {
  height: 45px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  height: 45px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  height: 45px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  height: 45px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  height: 45px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-group-3 {
    height: 191px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-form-group-5 {
    height: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: 129px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}