<table id="note_table">
    <tr>
        <td>Мои заметки</td>
    </tr>

    <% notes.forEach((note) => { %>
        <tr>
            <td id="<%= note.id%>" >
                <p class="note"><%=note.note_text %></p>
                <button name="del_btn">del</button>
            </td>
        </tr>
    <% }) %>
            
</table>