<table id="note_table">
    <tr>
        <td>Мои заметки</td>
    </tr>

    <% if(notes.length > 0){ %>
        <% notes.forEach((note) => { %>
            <tr>
                <td id="<%= note.id%>" >
                    <p class="note"><%=note.note_text %></p>
                    <button name="del_btn">del</button>
                </td>
            </tr>
        <% }) %>
    <% } else { %>
            <tr>
                <td class="note">
                    Ваша первая заметка :)
                </td>
            </tr>
    <% } %>
            
</table>