<table id="note_table">
    <tr>
        <td>Мои заметки</td>
    </tr>

    <% if(notes.length > 0){ 
        console.log(notes);%>
        <% notes.forEach((note) => { %>
            <tr>
                <td class="note">
                    <%=note.note_text %>
                </td>
            </tr>
        <% }) %>
    <% } else { %>
            <tr>
                <td class="note">
                    Ваша первая заметка :)
                </td>
            </tr>
    <% } %>
            
</table>